@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

main {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  padding: 1rem;
  background: linear-gradient(to right, #45b649, #dce35b);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Arial", sans-serif;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0.5rem;
  }
  main {
    padding: 1rem;
  }
}

.spotify-login-button {
  background-color: #1db954;
}
